body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: var(--red);
  border-top: var(--border);
}