{% load static %}

<footer>
  <ul>
    <li><a href="https://www.facebook.com/" target="_blank" rel="noopener"
        aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/" target="_blank" rel="noopener"
        aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="https://www.linkedin.com/" target="_blank" rel="noopener"
        aria-label="Visit our LinkedIn page (opens in a new tab)"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://www.github.com/" target="_blank" rel="noopener"
        aria-label="Visit our Github page (opens in a new tab)"><i class="fa-brands fa-github"></i></a></li>
  </ul>
</footer>
<script src="https://kit.fontawesome.com/3795e96048.js" crossorigin="anonymous"></script>