{% extends "base.html" %}
{% load static %}
{% block title %} UniVerse {% endblock %}
{% block content %}

<section id="hero">
  <div class="hero-text">
    <h1>UniVerse</h1>
  </div>
  <div id="slogan">
    <h3>"Connecting Minds, Building Futures: Your Online Campus for Collaboration and Community!"</h3>
    <a class="btn" href="#events">Show me around!</a>
  </div>

</section>
<section id="events">
  <div class="row">
    <div class="col">
      <h1>Our most popular events</h1>
    </div>
  </div>
  <div class="row">
    <div class="col features small-screens">
      <img src="../../static/images/multi-ethnic-group-young-men-women-studying-indoors.jpg" id="study" alt="group of students studying">
    </div>
    <div class="col details"> 
      <h3>Study Groups</h3>
      <p class="text-center">Elevate Your Learning Experience! Discover the power of collaborative learning with study groups! Join one today!
        <br>
      <a class="btn" href="#events">Find out more!</a>
      </p>
      
    </div>
  </div>
  <div class="row">
    <div class="col details" id="middle-div"> 
      <h3>Hackathons</h3>
      <p class="text-center">"Unlock your creative potential and join our student hackathons! Collaborate with peers, solve real-world problems, and showcase your innovative solutions."
        <br>
      <a class="btn" href="#events">Find out more!</a>
      </p>
      
    </div>
    <div class="col features small-screens">
      <img src="../../static/images/Who_Participates_in_a_Hackathon.png" id="hackathon" alt="group of students in a hackathon">
    </div>
  </div>
  <div class="row" id="bottom-div">
    <div class="col features small-screens">
      <img src="../../static/images/seminar.jpg" id="seminar" alt="students at a seminar">
    </div>
    <div class="col details"> 
      <h3>Seminars</h3>
      <p class="text-center">"Discover new perspectives and expertise at our student seminars! Engage with experts, explore cutting-edge topics, and ignite your passion for learning."
        <br>
      <a class="btn" href="#events">Find out more!</a>
      </p>
      
    </div>
  </div>
</section>
{% endblock %}