{% extends "base.html" %}
{% block title %}About{% endblock %}
{% load static %}
{% block content %}

<div class="container about-main text-center">
  <div class="row about text-center">
    <div class="col mx-auto">
      <h1 class="about-title ">About us</h1>
      <p>
        In today's interconnected World, social media platforms have become an
        integral part of our daily lives.UniVerse is a platform design to
        facilitate communication and connection among Students.Whether it's
        rekindling old friendships, meeting new people, UniVerse allows you to
        bridge distances and foster relationships. Features such as messaging,
        commenting,and sharing are design to enhance student interaction and
        engagement,ultimately creating a sense of community among Students.They
        can have their Own univers here.
      </p>
      <p>
        Students can personalize their profiles, share their thoughts and
        knowledge with other and setup a preference files to filters the flux of
        informations.
      </p>
      <p>
        In terms of learning outcomes, UniVerse can be a valuable tool for
        enhancing student engagement and motivation. They can use multimedia
        resources, interactive polls, and online discussions to make learning
        more interactive and relevant to students'lives.
      </p>

      <p>
        The most important think we care about is to protect students' personal
        information and prevent cyberbullying.We have a clear guidelines and
        policies regarding the appropiate use of our platform to ensure a safe
        and respectful online environment for all members of the UniVerse
        community.
      </p>
    </div>
  </div>

  <div class="about-content">
    <h2 class="about-title text-center">
      Join the UniVerse Team and Make a Different!
    </h2>
    <p>Every student can join the UniVerse Team. </p>
    <p>
      Are you passionate about sharing ideas,connecting with others, and making
      a positive impact on the world?If so, then we have the perfect opportunity
      for you-join our dynamic UniVerse team!</p>

      <p>As a member of UniVerse team, you will have the chance to harness the
      power of these platforms to engage with our community,spread awareness
      about important issues, and promote our school's values and
      initiatives.<br /></p>
      <p>
      Joining UniVerse team is not just about posting pictures and captions.It
      is about using your creativity, communication skills, and strategic
      thinking to create content that resonates with our audience and drives
      meaningful conversations.Whether you are interested in
      photography,writing, graphic design,or video editing, there is a role for
      you on our team.<br /></p>
      <p>
      By joining our team, you will have the opportunity to<br />
      Develop valuable skills:<br />Gain hands-on experience in social media
      marketing,content creation,analytics, and more. These skills are not only
      highly sought after in today's digital age but will also serve you well in
      any future career path you choose.<br /></p>
      <p>
      Make a difference: <br />Use your voice to raise awareness about important
      issues,promote events and initiatives, and inspire others to take action.
      Your contributions to our social media platforms can have a real impact on
      our community and the world at large.<br /></p>
      <p>
      Connect with other:<br />
      Collaborate with a team of like-minded peers who are passionate about
      using our platform for good. Build relationships,share ideas,and support
      each other in achieving our common goals.<br /></p>
      <p>
      Have fun:<br />Social media is a creative and ever-evolving field that
      offers endless possibilities for innovation and excitement.Joining our
      team will allow you to unleash your creativity, explore new ideas, and
      have fun while making a difference.<br /></p>
      <p>
      So, what are you waiting for? Join UniVerse team today and be a part of
      something bigger than yourself. Together, we can create a positive impact,
      inspire change, and build a stronger, more connected community. Don't miss
      out on this exciting opportunity to make your mark in the digital
      world.Join UniVerse team and let your voice be heard!<br />
      Sincerely,<br />
      Bug Slayers<br />
      UniVerse <br /></p>
      <a href="{% url 'events' %}" class="read-more">See Events</a>
    </p>
  </div>
</div>

{% endblock %}
